body{
    background-color: #000000;
    color:aliceblue;
    margin: 0;
    padding: 0;
}


div {
    background-color:rgb(32, 32, 32);
    padding: 20px;
    margin: 20px 100px;
    border-radius: 30px;
    box-shadow: 10px 5px 5px #3d005071;
}
.img{
    display: flex;
    justify-content: center;
}

.img img{
    height: 350px;
    margin-top: -200px;
    border-radius: 50px;
    box-shadow: 10px 5px 5px #3d005071;
}

.introducao{
    margin-top: 200px;
}

footer{
    background-color:rgb(32, 32, 32);
    text-align: center;
    padding: 10px 0px;
}